.container
  max-width: 1355px
  margin: 0 auto
  &__header
    max-width: 1169px
    margin-left: 381px
  &__hero
    max-width: 1356px
    margin-left: 376px
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col    
  &-45
    width: 43%
  &-50
    width: 55%

