@media screen and (max-width:  1750px)
  .container
    &__header
      margin-left: 320px
@media screen and (max-width:  1506px)
  .container
    &__header
      margin-left: 180px
@media screen and (max-width:  1361px)
  .container
    &__header
      margin-left: 120px  
  .menu
    &__logo
      margin-right: 6rem                        
@media screen and (max-width:  1296px)
  .container
    &__header
      margin-left: 60px
  .hero
    &__social
      left: 1rem
    &__content
      margin-left: 4rem  
  .menu
    &__logo
      margin-right: 4rem    
  .contacts
    &__phone
      margin-right: 1rem    
@media screen and (max-width:  1226px)
  .container
    &__header
      width: 92%
      margin: auto
  .hero
    &__social
      left: 0.5rem
    &__title
      font-size: 3rem 
      line-height: 3rem
      max-width: 35rem
    &__text
      max-width: 30rem
@media screen and (max-width:  1130px)
  html
    font-size: 15px  
  .menu
    &__logo
      margin-right: 2rem        
  .contacts
    &__phone
      margin-right: 0.5rem  
@media screen and (max-width:  991px)
  html
    font-size: 13px
  .hero
    &__social
      display: none  
@media screen and (max-width:  885px)
  .menu
    &__nav
      display: none
@media screen and (max-width:  576px)
  .contacts
    &__button
      display: none
  .hero
    &__title
      max-width: 25rem                  