@media screen and (max-width:  1750px)
  .container
    &__header
      margin-left: 320px
@media screen and (max-width:  1506px)
  .container
    &__header
      margin-left: 220px
@media screen and (max-width:  1396px)
  .container
    &__header
      margin-left: 180px  
  .menu
    &__logo
      margin-right: 8rem
@media screen and (max-width:  1354px)
  .container
    &__header
      margin-left: 160px  
  .menu
    &__logo
      margin-right: 9rem
  .hero
    &__social
      left: 2rem                                      
@media screen and (max-width:  1296px)
  .container
    &__header
      margin-left: 100px
  .hero
    &__social
      left: 1rem
    &__content
      margin-left: 4rem  
  .menu
    &__logo
      margin-right: 4rem    
  .contacts
    &__phone
      margin-right: 1rem    
@media screen and (max-width:  1226px)
  .container
    &__header
      width: 92%
      margin: auto
    &__services
      width: 95%
  .hero
    margin-bottom: 10rem
    padding-bottom: 10rem
    &__social
      left: 0.5rem
    &__title
      font-size: 3rem 
      line-height: 3rem
      max-width: 35rem
    &__text
      max-width: 30rem   
  .services
    &__row
      justify-content: flex-start 
    &__col
      margin-right: 1rem
      &--last
        margin-left: 0
    &__card
      width: 22rem
@media screen and (max-width:  1160px)
  html
    font-size: 15px  
  .menu
    &__logo
      margin-right: 2rem        
  .contacts
    &__phone
      margin-right: 0.5rem
  .services
    &__col
      margin-right: 0.9rem
    &__card
      width: 20rem
      &-title
        font-size: 1.4rem
      &-description
        font-size: 0.9rem
@media screen and (max-width:  991px)
  html
    font-size: 13px
  .container
    &__advantages
      width: 90%  
  .hero
    margin-bottom: 3rem
    padding-bottom: 3rem  
    &__social
      display: none
  .video
    &__play
      margin-top: 22rem
      max-width: 15%
      max-height: 15%
  .services
    margin-bottom: 3rem
    &__row
      justify-content: center     
    &__card
      width: 22rem
      &-title
        font-size: 1.625rem
      &-description
        font-size: 1rem
  .price
    height: auto      
@media screen and (max-width:  885px)
  .menu
    &__nav
      display: none
  .price
    &__wrap
      background: $light
    &__form
      width: 100%
      justify-content: center
    &__input-group
      max-width: 100%  
  .form
    &__wrap
      width: 100%      

@media screen and (max-width: 830px)
  .statistics
    &__title
      font-size: 2.5rem
    &__description
      font-size: 0.9rem
  .cases
    &__row
      flex-direction: column
      justify-content: center
      align-items: center      
@media screen and (max-width:  576px)
  .row
    justify-content: center
  .contacts
    &__button
      display: none
    &__title
      max-width: 32.6rem
  .statistics
    &__data
      padding-top: 1rem
      padding-bottom: 1rem
      background: $light url('../img/stats.png') no-repeat center / contain
    &__item
      width: 14rem
      margin-right: 0
  .advantages
    &__card
      width: 20rem
  .col-47
    width: 80%      
@media screen and (max-width:  514px)
  html
    font-size: 12px
@media screen and (max-width:  446px)
  html
    font-size: 11px   
  .hero
    height: auto
    background: $light
    font-size: 12px
    &__content
      margin-left: 2rem
      padding-top: 10rem
  .statistics
    padding-top: 0
    &__wrap
      margin-top: 0 
  .video
    &__play
      margin-top: 24rem
      width: 50px
      height: 50px   
@media screen and (max-width:  418px)
  .statistics
    &__item
      width: 10rem      
@media screen and (max-width:  407px)
  html
    font-size: 10px
  .container
    width: 90%
  .hero   
    &__title
      font-size: 2.5rem
      max-width: 25rem  
    &__content
      margin-left: 0rem
  .col-47
    width: 70%     
  div.invalid
    font-size: 9px   
@media screen and (max-width:  407px)
  .hero   
    &__title
      font-size: 2rem      