.menu
  display: flex
  justify-content: space-between
  align-items: center
  &__logo
    display: flex
    justify-content: center
    align-items: center
.header
  padding-top: 31px
.logo
  margin-right: 10rem
  &__image
    margin-right: 0.81rem
  &__title
    font-family: 'Ubuntu', sans-serif
    font-size: 1.625rem
    font-weight: 700
    line-height: 1.18rem
    color: $header
    text-transform: uppercase
    &:hover
      color: $secondary
.nav
  display: flex
  justify-content: space-between
  align-items: center
  width: 23.35rem
  max-width: 100%
  &__item
    position: relative
    font-family: 'Ubuntu', sans-serif
    font-weight: 400
    color: $header
    text-decoration: none    
    text-transform: uppercase
    &:hover:after
      content: ''
      position: absolute
      left: 19%
      bottom: -0.495rem
      width: 60%
      border-bottom: 2px solid $secondary
.contacts
  &__phone
    position: relative
    margin-right: 2.875rem
    color: $header
    text-decoration: none
    font-size: 1.125rem
    font-weight: 500
    line-height: 2.33rem
    &:hover:after
      content: ''
      position: absolute
      left: 20%
      bottom: -0.475rem
      width: 60%
      border-bottom: 2px solid $secondary

        