.hero
  position: relative
  max-width: 1802px
  height: 1131px
  background: $light url('../img/hero-bg.png') no-repeat center / cover
  color: $primary
  &__social
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    left: 3.9rem
    top: 149px
  &__title
    margin: 0
    color: #323232
    font-family: 'Ubuntu', sans-serif
    font-size: 3.575rem
    line-height: 4.75rem
  &__content
    padding-top: 19.88rem
    margin-left: 3.8rem
    max-width: 38.88rem
  &__text
    margin: 0
    margin-top: 2.23rem
    margin-bottom: 2.15rem
    max-width: 35.288rem
    font-family: 'Ubuntu', sans-serif
    font-size: 1.25rem
    font-weight: 300
    line-height: 1.813rem
    color: $header-description
  &__button
    padding: 1.06rem 2.55rem 
    font-family: 'Ubuntu', sans-serif
    font-size: 1rem
    font-weight: 500
  &__image
    padding-top: 7.43rem 
.social
  &__item
    display: flex
    margin-top: 2.2rem
  &::before
    content: ''
    width: 0.25rem
    height: 38.75rem
    background-color: $secondary  
.title
  &--primary
    color: #ff5a3c

